body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #540b0e;
    color: #e6e6e6;
}

header {
    background-color: #540b0e;
    color: white;
    padding: 1rem;
    text-align: center;
}

.container {
    padding: 2rem;
}

h1, h2, h3 {
    color: white;
}

ul {
    padding-left: 1.5rem;
}

footer {
    background-color: #540b0e;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #540b0e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}